body {
  font-family: 'Poppins', sans-serif;
  background: #0b0f0c;
  color: #f0fff4;
}

.navbar {
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: radial-gradient(circle at top, #134e3a, #000);
}
.hero {
  position: relative;
  overflow: hidden;
}

/* GIF BACKGROUND */
.hero-bg {
  position: absolute;
  inset: 0;
  background-image: 
    linear-gradient(
      rgba(0,0,0,0.75),
      rgba(0,0,0,0.85)
    ),
    url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdHRlM2xrbjV2a3ZqaGZiYjd2cW40cTUyNW9sZGZ6MWR6YjNqdWpmNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/IcZhFmufozDCij3p22/giphy.gif");
  background-size: cover;
  background-position: center;
  opacity: 0.35;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}


.hero-title {
  font-size: 2.6rem;
  font-weight: 700;
}

.hero-title span {
  color: #2ecc71;
}

.hero-role {
  font-size: 1.2rem;
  opacity: 0.9;
}

.hero-desc {
  max-width: 700px;
  margin: 1rem auto;
  font-size: 1.05rem;
  line-height: 1.8;
  color: #dcffe8;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #2ecc71;
  object-fit: cover;
}

.section-title {
  color: #2ecc71;
  margin-bottom: 2rem;
}

.section-soft {
  background: linear-gradient(180deg, rgba(46,204,113,0.08), transparent);
  border-radius: 24px;
  padding: 4rem 2rem;
}


.project-card {
  background: rgba(0,0,0,0.65);
  border-radius: 18px;
  border: 1px solid rgba(46,204,113,0.25);
}

.project-title {
  color: #2ecc71;
  font-weight: 600;
}

.project-subtitle {
  color: #b9f6ca;
  font-size: 0.95rem;
}

.project-text {
  color: #f1fff6;
  line-height: 1.8;
  font-size: 1rem;
}

.project-tags span {
  display: inline-block;
  border: 1px solid #2ecc71;
  color: #2ecc71;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  margin-right: 6px;
  margin-top: 6px;
}

.stack-grid span {
  border: 1px solid #2ecc71;
  color: #2ecc71;
  padding: 6px 14px;
  border-radius: 20px;
  margin: 5px;
  display: inline-block;
}

.journey-text {
  max-width: 760px;
  line-height: 1.9;
  font-size: 1.05rem;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list li {
  margin-bottom: 10px;
}

.contact-list a {
  color: #2ecc71;
  text-decoration: none;
}

.btn-main {
  background: #2ecc71;
  color: #000;
}

footer {
  background: #000;
}
